@import "tailwindcss";

body {
  background: pink;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

span {
  font-family: "Love Light", cursive;
  color: #ba0001;
}

button {
  background: #ff7676;
  cursor: pointer;
}

.finalNo {
  background-color: black;
  color: white;
}

.world {
  font-family: "Big Shoulders", sans-serif;
}